[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datetime = "*"
speechrecognition = "*"
pyttsx3 = "*"
requests = "*"
bs4 = "*"
lxml = "*"
wheel = "*"
pipwin = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
