<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="시각 장애인을 위한 충북대학교 음성 정보 안내 시스템입니다."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--카카오톡 공유시 개요-->
        <meta name="og:title" content="충북대학교 음성 정보 안내"/>
        <meta name="og:image" content="https://www.chungbuk.ac.kr/resource/site/www/images/common/logo.png" />
        <title>제작 팀 소개</title>
        <link rel="stylesheet" href="../static/css/style.css"/>
        <link rel="stylesheet" href="../static/css/screens/profile.css"/>
        <link 
        rel="shortcut icon" 
        sizes="16x16 32x32 64x64"
        href="../static/images/충북대학교 로고.jpg"
        />
    </head>
    <body>
        <div class="first">
            <a tabindex="6" href="/">
                <img class="logo" src="../static/images/충북대학교 로고.PNG" alt="충북대학교 타이틀입니다. 클릭하면 초기 화면으로 이동합니다."/>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition second">
            <a tabindex="1" href="navigation.html" class="a-focus-visible">
                <h1>학교 내 건물 위치 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition third">
            <a tabindex="2" href="schedule.html" class="a-focus-visible">
                <h1>시간표 안내</h1> 
            </a>
        </div>
        <div tabindex="-1" class="hover-transition fourth">
            <a tabindex="3" href="menu.html" class="a-focus-visible">
                <h1>학생 식당 이용 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition fifth">
            <a tabindex="4" href="weather.html" class="a-focus-visible">
                <h1>날씨 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition sixth">
            <a tabindex="5" href="profile.html" class="a-focus-visible">
                <h1>제작팀 소개</h1>
            </a>
        </div>
        <div class="seventh"></div>
        <div class="eighth">
            <div class="row">
                <div class="person" tabindex="1" alt="안녕하세요 임종훈입니다. 프로젝트에서 웹을 전담하고 있습니다.">
                    <img src="../static/images/임종훈.png">
                    <h2>임종훈</h2>
                    <span>안녕하세요 임종훈입니다. 프로젝트에서 웹 구현 및 서버 구현을 맡고 있습니다.</span>
                </div>
                <div class="person" tabindex="2">
                    <img src="">
                    <h2>손영재</h2>
                    <span>안녕하세요 손영재입니다. 프로젝트에서 음성안내 및 음성인식 구현을 맡고 있습니다.</span>
                </div>
                <div class="person" tabindex="3">
                    <img src="">
                    <h2>김성호</h2>
                    <span>안녕하세요 김성호입니다. 프로젝트에서 학교 건물 안내 구현을 맡고 있습니다.</span>
                </div>
            </div>
            <div class="row">
                <div class="person" tabindex="4">
                    <img src="">
                    <h2>김민규</h2>
                    <span>안녕하세요 김민규입니다. 프로젝트 팀장 및 음성안내를 맡고 있습니다.</span>
                </div>
                <div class="person" tabindex="5">
                    <img src="">
                    <h2>서민정</h2>
                    <span>안녕하세요 서민정입니다. 프로젝트에서 식당 이용안내 및 날씨 이용안내를 맡고 있습니다.</span>
                </div>
            </div>
        </div>
        <div class="ninth"></div>
    </body>
</html>
<script> </script>