<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="시각 장애인을 위한 충북대학교 음성 정보 안내 시스템입니다."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--카카오톡 공유시 개요-->
        <meta name="og:title" content="충북대학교 음성 정보 안내"/>
        <meta name="og:image" content="https://www.chungbuk.ac.kr/resource/site/www/images/common/logo.png" />
        <title>시간표 안내</title>
        <link rel="stylesheet" href="../static/css/style.css"/>
        <link rel="stylesheet" href="../static/css/screens/schedule.css"/>
        <link 
        rel="shortcut icon" 
        sizes="16x16 32x32 64x64"
        href="../static/images/충북대학교 로고.jpg"
        />
    </head>
    <body>
        <div class="first">
            <a tabindex="1" href="/">
                <img class="logo" src="../static/images/충북대학교 로고.PNG" alt="충북대학교 타이틀입니다. 클릭하면 초기 화면으로 이동합니다."/>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition second">
            <a tabindex="1" href="/navigation" class="a-focus-visible">
                <h1>학교 내 건물 위치 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition third">
            <a tabindex="2" href="/schedule" class="a-focus-visible">
                <h1>시간표 안내</h1> 
            </a>
        </div>
        <div tabindex="-1" class="hover-transition fourth">
            <a tabindex="3" href="/menu" class="a-focus-visible">
                <h1>학생 식당 이용 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition fifth">
            <a tabindex="4" href="/weather" class="a-focus-visible">
                <h1>날씨 안내</h1>
            </a>
        </div>
        <div tabindex="-1" class="hover-transition sixth">
            <a tabindex="5" href="/profile" class="a-focus-visible">
                <h1>제작팀 소개</h1>
            </a>
        </div>
        <div class="seventh"></div>
        <div class="eighth a_margin">
            <div class="restart_btn">
                <a class="a_outline" tabindex="6" href="/schedule/run">
                    <span>시간표 안내</span>
                    <span>실행</span>
                </a>
            </div>
            <div class="restart_btn">
                <a class="a_outline" tabindex="7" href="/">
                    <span>처음으로 되돌아가기</span>
                </a>
            </div>
        </div>
        <div class="ninth"></div>
    </body>
</html>
<script> </script>